# set up constants here and rename this file to .env
# SERVER
MIDDLEWARE_ID=""

# GATEWAYS
## BLOCKCHAIN
ALCHEMY_GOERLI_URL=
ALCHEMY_MAINNET_URL=

## DB
MONGO_ACCESS_URL=mongodb://0.0.0.0:27017/

## TELEGRAM (t.me/winston_logger_bot)
CHAT_ID=""
BOT_TOKEN=""

## CLOUDFLARE
CF_ACCOUNT_ID = ""
CF_API_TOKEN = ""
CF_NAMESPACE_ID = "" 